<a href="https://colab.research.google.com/github/SanskarAgrahari-07/Machine-Learning/blob/main/ML_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel('Lab Session Data.xlsx')

data = df.iloc[0:12, 1:5]

A = data.iloc[:, :-1]
C = data.iloc[:, -1]

print(data)
print(A)
print()
print(C)
print()

dim_A = np.shape(A)
dim_C = np.shape(C)

print("The dimension of Matrix A is", dim_A)
print("The dimension of Matrix C is ", dim_C)

vectors_A = A.shape[0]
vectors_C = C.shape[0]

print("The number of vectors in A is ",vectors_A)
print("The number of vectors in C is ",vectors_C)

rank_A = np.linalg.matrix_rank(A)
print("The rank of matrix A is ",rank_A)

inverse_A = np.linalg.pinv(A)
X = np.dot(inverse_A,C)
print("The cost of each product is ",X)

   Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0           20             6                 2           386
1           16             3                 6           289
2           27             6                 2           393
3           19             1                 2           110
4           24             4                 2           280
5           22             1                 5           167
6           15             4                 2           271
7           18             4                 2           274
8           21             1                 4           148
9           16             2                 4           198
   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4

0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

The dimension of Matrix A is (10, 3)
The dimension of Matrix C is  (10,)
The number of vectors in A is  10
The number of vectors in C is  10
The rank of matrix A is  3
The cost of each product is  [ 1. 55. 18.]

In [4]:
import pandas as pd
import numpy as np

df = pd.read_excel('Lab Session Data.xlsx')

data = df.iloc[0:12, 1:5]

A = data.iloc[:, :-1]
C = data.iloc[:, -1]

inverse_A = np.linalg.pinv(A)
X = np.dot(inverse_A,C)
print("The cost of each product is ",X)

The cost of each product is  [ 1. 55. 18.]

In [17]:
import pandas as pd
import numpy as np

file_path = ('Lab Session Data.xlsx')

sheet_name = 'IRCTC Stock Price'

df = pd.read_excel(file_path, sheet_name=sheet_name)

print(df)

column_data = df['Price']

Mean = np.mean(column_data)
Variance = np.var(column_data)

print("The mean of the price data is",Mean)
print("The varaince of the price data is",Variance)

#comparing the mean of all Wednesdays with the mean of the price column
print()
Wednesdays_count = df[df['Day']=='Wed']
sample_mean = Wednesdays_count['Price'].mean()
print("The sample mean of the Wednesdays is",sample_mean)
print()

if(Mean > sample_mean):
  print("The actual mean is greater than the sample mean")
else:
  print("The sample mean is greater than the actual mean")

april_count = df[df['Month']=='Apr']
april_mean = april_count['Price'].mean();
print("The mean of the april month is",april_mean)

             Date Month  Day    Price     Open     High      Low   Volume  \
0    Jun 29, 2021   Jun  Tue  2081.85  2092.00  2126.90  2065.05    1.67M
1    Jun 28, 2021   Jun  Mon  2077.75  2084.00  2112.45  2068.40  707.73K
2    Jun 25, 2021   Jun  Fri  2068.85  2084.35  2088.50  2053.10  475.82K
3    Jun 24, 2021   Jun  Thu  2072.95  2098.00  2098.00  2066.00  541.51K
4    Jun 23, 2021   Jun  Wed  2078.25  2102.00  2111.40  2072.00  809.62K
..            ...   ...  ...      ...      ...      ...      ...      ...
244  Jul 07, 2020   Jul  Tue  1397.40  1410.00  1411.00  1390.05  480.21K
245  Jul 06, 2020   Jul  Mon  1400.75  1405.50  1415.50  1394.00  614.93K
246  Jul 03, 2020   Jul  Fri  1405.10  1415.00  1425.00  1398.00  599.49K
247  Jul 02, 2020   Jul  Thu  1412.35  1440.00  1467.80  1395.30    2.16M
248  Jul 01, 2020   Jul  Wed  1363.05  1363.65  1377.00  1356.00  383.00K

       Chg%
0    0.0020
1    0.0043
2   -0.0020
3   -0.0026
4   -0.0023
..      ...
244 -0.0024
245 -0.0031
246 -0.0051
247  0.0362
248  0.0032

[249 rows x 9 columns]
The mean of the price data is 1560.6634538152612
The varaince of the price data is 58496.49239931613

The sample mean of the Wednesdays is 1550.7060000000001

The actual mean is greater than the sample mean
The mean of the april month is 1698.9526315789474